doctype 5
html
	head
		title= "Join the community - Share Bookmarklets !"
		link(rel='stylesheet', href='/stylesheets/style.css')
body
	h1 Create new user
	form(action='/newuser', method='post')
		label.lblLrg Email:
		input.txtLrg(name='email' id='email')
		label.lblLrg Password:
		input.txtLrg(name='password')
//		label.lblLrg Confirm Password:
//		input.txtLrg(name='confPassword')
		input(type="submit", value="Signup")
//	script(src="http://code.jquery.com/jquery-1.8.0.min.js")